.menu__contenedor{
    display: flex; 
    justify-content: center;

&__part{
    display: inline-block;
    background-color: black;
    color: aqua;
    width: 120px;
    height: 50px;
    text-align: center;

    &--contact{
        background-color: bisque;  
        }
 }

}

